{% extends "AppBundle::main_wrapper.html.twig" %}

{% block body %}
    {% include "AppBundle::Widgets/error_alert.html.twig" %}

    <h1>Dodaj nową wypożyczoną książkę spoza biblioteki</h1>

    <div class="form-group">
        <select class="form-control openLibrarySelectAjax">
        </select>
    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}