html{
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    margin: 0;
}
* {
    box-sizing: inherit;
    font-size: 16px;
}
body{
    padding: 0;
    margin: 0;
    position: relative;
    padding-bottom: 5.7em;
    min-height: 100%;
}
.login-form-wrapper{
    text-align: center;
}
.login-form-inside{
    margin-top: 50px;
    display: inline-block;
    max-width: 350px;
    width: 350px;
    text-align: left;
}
h1 {
    display: inline-block;
}
.container{
    min-height: 100%;
}
.button-right {
    float: right;
    margin-top: 20px;
}

footer {
    width:100%;
    padding: 1.4em;
    background: #CCCCCC;
    position: absolute;
    bottom: 0;
    border-style: solid;
    border-color: #111111;
    border-width: 0;
    border-top-width: 2px;
}
footer > p {
    font-weight: bold;
    margin:0;
}
.footerTable td{
    text-align: right;
}
.commentBox{
    background: rgba(255, 243, 0, 0.38);
    margin: 5px;
    border-radius: 15px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
}
.commentBox h4 {
    font-weight: bold;
}
textarea {
    max-width: 100%;
}
.bookStats h4 {
    display: inline-block;
    width:60%;
}
.bookStats span {
    font-size: 45px;
    margin-left: 20px;
}
.bookStats > div:nth-child(1) span{
    color: #C82829;
}
.bookStats > div:nth-child(2) span{
    color: #00b3ee;
}
.bookStats > div:nth-child(3) span{
    color: #3e8f3e;
}
.bookStats > div:nth-child(4) span{
    color: #FFCC00;
}
.bookStats > div:nth-child(5) span{
    color: slateblue;
}
.bookStats > div:nth-child(6) span{
    color: midnightblue;
}
.bookStats > div:nth-child(7) span{
    color: lightslategray;
}
.bookStats > div:nth-child(8) span{
    color: peru;
}